@using MVCDemo.Infrastructure
@model MVCDemo.ViewModels.Test.AngularTest
@{
    ViewBag.Title = "Angular Test";
}
@if ((Model != null) && !string.IsNullOrWhiteSpace(Model.JsonToken))
{
    <div id="at-jtk1" data-tk='@Html.Raw(Model.JsonToken)' class="hidden"></div>
}

<h2>Angular Test</h2>
@if (!string.IsNullOrWhiteSpace(ViewBag.Message as string))
{
    <p>@Html.Raw(Html.Encode(ViewBag.Message).Replace(Environment.NewLine, CommonDefs.SharedTags.LineBreak))</p>
}

<div ng-app="appTest">
    {{foo}}
    <div ng-view></div>
</div>
@section scripts
{
    <script src="@Url.Content("~/app/appTest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/test/appTest.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/test/testconfig.route.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/test/authInterceptorService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/test/testDataService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/test/testMain.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/test/testAuthError.js")" type="text/javascript"></script>
}
